<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<input type="checkbox" name="writer" id="all" value="전체">전체<br>
<input type="checkbox" name="writer" id="expert" value="전문가">전문가<br>
<input type="checkbox" name="writer" id="expert" value="일반인">일반 사용자<br>


<hr>

<div class="list">
	<p class="disease">질병 </p>
	<p class="medicine">약 </p>
</div>
 
 <div class="list">
	<p class="disease">감기</p>
	<p class="medicine">아스피린</p>
</div>

 <div class="list">
	<p class="disease">배탈</p>
	<p class="medicine">어찌고</p>
</div>

</body>
</html>